
.container {
    display: flex;
    // justify-content: flex-start;
    justify-content: space-between;
    margin: 0 82px;
    // gap:10px;
    gap: 5.5%;
    row-gap: 75px;
    flex-wrap: wrap;
    @include mobile-only{
        margin: 0 14.7vw;
        flex-direction: column;
    }
}