
@mixin mobile-only(){
    @media all and (max-width: 750px) {
        @content;
    }
}

@import "base/styles";
@import "components/navbar";
@import "components/header";
@import "components/card";
@import "components/select";
@import "layout/container";
@import "components/loader";
@import "layout/countryDetails";
@import "components/button";
@import "pages/countryHeader";
@import "layout/page-layout";


@import "themes/theme";






body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: initial;
    height: 100%;
}

.not-found{
    width: 100%;
    text-align: center;
}







