// colors 
$bg-color-dark-mode: hsl(207, 26%, 17%);
$bg-color-light-mode: hsl(0, 0%, 98%);

$text-color-dark-mode: hsl(0, 0%, 98%);
$text-color-light-mode: hsl(200, 15%, 8%);

$element-color-dark-mode:hsl(209, 23%, 22%);
$element-color-light-mode: hsl(0, 0%, 100%);

$input-color-light-mode: hsl(0, 0%, 52%);


$text-main: 13px;





