.navbar {
  padding: 0 82px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.2);
  background-color: hsl(0deg, 0%, 100%);
}
@media all and (max-width: 750px) {
  .navbar {
    height: 126px;
    padding: 0 32px;
  }
}
.navbar__title__main {
  font-size: 22px;
  font-weight: 800;
}
.navbar__switch {
  font-weight: 600;
  display: inline-flex;
  gap: 10px;
}
.navbar__switch:hover {
  cursor: pointer;
}
.navbar__switch .logo-wrapper {
  position: relative;
  height: 18px;
  width: 18px;
}
.navbar__switch .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.header {
  padding: 0 82px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  height: 56px;
  height: auto;
  flex-wrap: wrap;
  row-gap: 72px;
}
@media all and (max-width: 750px) {
  .header {
    padding: 0 32px;
    flex-direction: column;
    margin-bottom: 65px;
  }
}
.header__search {
  position: relative;
}
.header__search__input {
  height: 100%;
  height: 56px;
  width: 450px;
  padding-left: 74px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.1);
}
.header__search__input::placeholder {
  color: hsl(200deg, 15%, 8%);
}
@media all and (max-width: 750px) {
  .header__search__input {
    width: calc(100% - 74px);
  }
}
.header__search .logo-wrapper {
  position: absolute;
  height: 22px;
  width: 22px;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}
.header__search .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.card {
  width: 266px;
  height: 380px;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 100%);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.1);
  color: hsl(200deg, 15%, 8%);
  text-decoration: none;
  opacity: 0;
}
@media all and (max-width: 750px) {
  .card {
    width: 100%;
    height: 86.7vw;
    min-height: 340px;
  }
}
.card:nth-last-child(1) {
  margin-right: auto;
}
.card__picture {
  height: 181px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media all and (max-width: 750px) {
  .card__picture {
    height: 50%;
  }
}
.card__picture .picture {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: fill;
}
.card__info {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 30px;
}
@media all and (max-width: 750px) {
  .card__info {
    margin-top: 7.3vw;
    height: 50%;
    gap: 2.5vw;
  }
}
.card__info__title {
  font-size: 16px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 11px;
}
@media all and (max-width: 750px) {
  .card__info__title {
    font-size: 26px;
    margin-bottom: 3vw;
  }
}
.card__info__element {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card__info__element__title {
  margin: 0;
}
.card__info__element__text {
  margin: 0;
}

.card:nth-child(1) {
  animation: card-appears 1000ms 150ms forwards;
}

.card:nth-child(2) {
  animation: card-appears 1000ms 300ms forwards;
}

.card:nth-child(3) {
  animation: card-appears 1000ms 450ms forwards;
}

.card:nth-child(4) {
  animation: card-appears 1000ms 600ms forwards;
}

.card:nth-child(5) {
  animation: card-appears 1000ms 750ms forwards;
}

.card:nth-child(6) {
  animation: card-appears 1000ms 900ms forwards;
}

.card:nth-child(7) {
  animation: card-appears 1000ms 1050ms forwards;
}

.card:nth-child(8) {
  animation: card-appears 1000ms 1200ms forwards;
}

.card:nth-child(9) {
  animation: card-appears 1000ms 1350ms forwards;
}

.card:nth-child(10) {
  animation: card-appears 1000ms 1500ms forwards;
}

.card:nth-child(11) {
  animation: card-appears 1000ms 1650ms forwards;
}

.card:nth-child(12) {
  animation: card-appears 1000ms 1800ms forwards;
}

.card:nth-child(13) {
  animation: card-appears 1000ms 1950ms forwards;
}

.card:nth-child(14) {
  animation: card-appears 1000ms 2100ms forwards;
}

.card:nth-child(15) {
  animation: card-appears 1000ms 2250ms forwards;
}

.card:nth-child(16) {
  animation: card-appears 1000ms 2400ms forwards;
}

.card:nth-child(17) {
  animation: card-appears 1000ms 2550ms forwards;
}

.card:nth-child(18) {
  animation: card-appears 1000ms 2700ms forwards;
}

.card:nth-child(19) {
  animation: card-appears 1000ms 2850ms forwards;
}

.card:nth-child(20) {
  animation: card-appears 1000ms 3000ms forwards;
}

.card:nth-child(21) {
  animation: card-appears 1000ms 3150ms forwards;
}

.card:nth-child(22) {
  animation: card-appears 1000ms 3300ms forwards;
}

.card:nth-child(23) {
  animation: card-appears 1000ms 3450ms forwards;
}

.card:nth-child(24) {
  animation: card-appears 1000ms 3600ms forwards;
}

.card:nth-child(25) {
  animation: card-appears 1000ms 3750ms forwards;
}

.card:nth-child(26) {
  animation: card-appears 1000ms 3900ms forwards;
}

.card:nth-child(27) {
  animation: card-appears 1000ms 4050ms forwards;
}

.card:nth-child(28) {
  animation: card-appears 1000ms 4200ms forwards;
}

.card:nth-child(29) {
  animation: card-appears 1000ms 4350ms forwards;
}

.card:nth-child(30) {
  animation: card-appears 1000ms 4500ms forwards;
}

.card:nth-child(31) {
  animation: card-appears 1000ms 4650ms forwards;
}

.card:nth-child(32) {
  animation: card-appears 1000ms 4800ms forwards;
}

.card:nth-child(33) {
  animation: card-appears 1000ms 4950ms forwards;
}

.card:nth-child(34) {
  animation: card-appears 1000ms 5100ms forwards;
}

.card:nth-child(35) {
  animation: card-appears 1000ms 5250ms forwards;
}

.card:nth-child(36) {
  animation: card-appears 1000ms 5400ms forwards;
}

.card:nth-child(37) {
  animation: card-appears 1000ms 5550ms forwards;
}

.card:nth-child(38) {
  animation: card-appears 1000ms 5700ms forwards;
}

.card:nth-child(39) {
  animation: card-appears 1000ms 5850ms forwards;
}

.card:nth-child(40) {
  animation: card-appears 1000ms 6000ms forwards;
}

.card:nth-child(41) {
  animation: card-appears 1000ms 6150ms forwards;
}

.card:nth-child(42) {
  animation: card-appears 1000ms 6300ms forwards;
}

.card:nth-child(43) {
  animation: card-appears 1000ms 6450ms forwards;
}

.card:nth-child(44) {
  animation: card-appears 1000ms 6600ms forwards;
}

.card:nth-child(45) {
  animation: card-appears 1000ms 6750ms forwards;
}

.card:nth-child(46) {
  animation: card-appears 1000ms 6900ms forwards;
}

.card:nth-child(47) {
  animation: card-appears 1000ms 7050ms forwards;
}

.card:nth-child(48) {
  animation: card-appears 1000ms 7200ms forwards;
}

.card:nth-child(49) {
  animation: card-appears 1000ms 7350ms forwards;
}

.card:nth-child(50) {
  animation: card-appears 1000ms 7500ms forwards;
}

.card:nth-child(51) {
  animation: card-appears 1000ms 7650ms forwards;
}

.card:nth-child(52) {
  animation: card-appears 1000ms 7800ms forwards;
}

.card:nth-child(53) {
  animation: card-appears 1000ms 7950ms forwards;
}

.card:nth-child(54) {
  animation: card-appears 1000ms 8100ms forwards;
}

.card:nth-child(55) {
  animation: card-appears 1000ms 8250ms forwards;
}

.card:nth-child(56) {
  animation: card-appears 1000ms 8400ms forwards;
}

.card:nth-child(57) {
  animation: card-appears 1000ms 8550ms forwards;
}

.card:nth-child(58) {
  animation: card-appears 1000ms 8700ms forwards;
}

.card:nth-child(59) {
  animation: card-appears 1000ms 8850ms forwards;
}

.card:nth-child(60) {
  animation: card-appears 1000ms 9000ms forwards;
}

.card:nth-child(61) {
  animation: card-appears 1000ms 9150ms forwards;
}

.card:nth-child(62) {
  animation: card-appears 1000ms 9300ms forwards;
}

.card:nth-child(63) {
  animation: card-appears 1000ms 9450ms forwards;
}

.card:nth-child(64) {
  animation: card-appears 1000ms 9600ms forwards;
}

.card:nth-child(65) {
  animation: card-appears 1000ms 9750ms forwards;
}

.card:nth-child(66) {
  animation: card-appears 1000ms 9900ms forwards;
}

.card:nth-child(67) {
  animation: card-appears 1000ms 10050ms forwards;
}

.card:nth-child(68) {
  animation: card-appears 1000ms 10200ms forwards;
}

.card:nth-child(69) {
  animation: card-appears 1000ms 10350ms forwards;
}

.card:nth-child(70) {
  animation: card-appears 1000ms 10500ms forwards;
}

.card:nth-child(71) {
  animation: card-appears 1000ms 10650ms forwards;
}

.card:nth-child(72) {
  animation: card-appears 1000ms 10800ms forwards;
}

.card:nth-child(73) {
  animation: card-appears 1000ms 10950ms forwards;
}

.card:nth-child(74) {
  animation: card-appears 1000ms 11100ms forwards;
}

.card:nth-child(75) {
  animation: card-appears 1000ms 11250ms forwards;
}

.card:nth-child(76) {
  animation: card-appears 1000ms 11400ms forwards;
}

.card:nth-child(77) {
  animation: card-appears 1000ms 11550ms forwards;
}

.card:nth-child(78) {
  animation: card-appears 1000ms 11700ms forwards;
}

.card:nth-child(79) {
  animation: card-appears 1000ms 11850ms forwards;
}

.card:nth-child(80) {
  animation: card-appears 1000ms 12000ms forwards;
}

.card:nth-child(81) {
  animation: card-appears 1000ms 12150ms forwards;
}

.card:nth-child(82) {
  animation: card-appears 1000ms 12300ms forwards;
}

.card:nth-child(83) {
  animation: card-appears 1000ms 12450ms forwards;
}

.card:nth-child(84) {
  animation: card-appears 1000ms 12600ms forwards;
}

.card:nth-child(85) {
  animation: card-appears 1000ms 12750ms forwards;
}

.card:nth-child(86) {
  animation: card-appears 1000ms 12900ms forwards;
}

.card:nth-child(87) {
  animation: card-appears 1000ms 13050ms forwards;
}

.card:nth-child(88) {
  animation: card-appears 1000ms 13200ms forwards;
}

.card:nth-child(89) {
  animation: card-appears 1000ms 13350ms forwards;
}

.card:nth-child(90) {
  animation: card-appears 1000ms 13500ms forwards;
}

.card:nth-child(91) {
  animation: card-appears 1000ms 13650ms forwards;
}

.card:nth-child(92) {
  animation: card-appears 1000ms 13800ms forwards;
}

.card:nth-child(93) {
  animation: card-appears 1000ms 13950ms forwards;
}

.card:nth-child(94) {
  animation: card-appears 1000ms 14100ms forwards;
}

.card:nth-child(95) {
  animation: card-appears 1000ms 14250ms forwards;
}

.card:nth-child(96) {
  animation: card-appears 1000ms 14400ms forwards;
}

.card:nth-child(97) {
  animation: card-appears 1000ms 14550ms forwards;
}

.card:nth-child(98) {
  animation: card-appears 1000ms 14700ms forwards;
}

.card:nth-child(99) {
  animation: card-appears 1000ms 14850ms forwards;
}

.card:nth-child(100) {
  animation: card-appears 1000ms 15000ms forwards;
}

.card:nth-child(101) {
  animation: card-appears 1000ms 15150ms forwards;
}

.card:nth-child(102) {
  animation: card-appears 1000ms 15300ms forwards;
}

.card:nth-child(103) {
  animation: card-appears 1000ms 15450ms forwards;
}

.card:nth-child(104) {
  animation: card-appears 1000ms 15600ms forwards;
}

.card:nth-child(105) {
  animation: card-appears 1000ms 15750ms forwards;
}

.card:nth-child(106) {
  animation: card-appears 1000ms 15900ms forwards;
}

.card:nth-child(107) {
  animation: card-appears 1000ms 16050ms forwards;
}

.card:nth-child(108) {
  animation: card-appears 1000ms 16200ms forwards;
}

.card:nth-child(109) {
  animation: card-appears 1000ms 16350ms forwards;
}

.card:nth-child(110) {
  animation: card-appears 1000ms 16500ms forwards;
}

.card:nth-child(111) {
  animation: card-appears 1000ms 16650ms forwards;
}

.card:nth-child(112) {
  animation: card-appears 1000ms 16800ms forwards;
}

.card:nth-child(113) {
  animation: card-appears 1000ms 16950ms forwards;
}

.card:nth-child(114) {
  animation: card-appears 1000ms 17100ms forwards;
}

.card:nth-child(115) {
  animation: card-appears 1000ms 17250ms forwards;
}

.card:nth-child(116) {
  animation: card-appears 1000ms 17400ms forwards;
}

.card:nth-child(117) {
  animation: card-appears 1000ms 17550ms forwards;
}

.card:nth-child(118) {
  animation: card-appears 1000ms 17700ms forwards;
}

.card:nth-child(119) {
  animation: card-appears 1000ms 17850ms forwards;
}

.card:nth-child(120) {
  animation: card-appears 1000ms 18000ms forwards;
}

.card:nth-child(121) {
  animation: card-appears 1000ms 18150ms forwards;
}

.card:nth-child(122) {
  animation: card-appears 1000ms 18300ms forwards;
}

.card:nth-child(123) {
  animation: card-appears 1000ms 18450ms forwards;
}

.card:nth-child(124) {
  animation: card-appears 1000ms 18600ms forwards;
}

.card:nth-child(125) {
  animation: card-appears 1000ms 18750ms forwards;
}

.card:nth-child(126) {
  animation: card-appears 1000ms 18900ms forwards;
}

.card:nth-child(127) {
  animation: card-appears 1000ms 19050ms forwards;
}

.card:nth-child(128) {
  animation: card-appears 1000ms 19200ms forwards;
}

.card:nth-child(129) {
  animation: card-appears 1000ms 19350ms forwards;
}

.card:nth-child(130) {
  animation: card-appears 1000ms 19500ms forwards;
}

.card:nth-child(131) {
  animation: card-appears 1000ms 19650ms forwards;
}

.card:nth-child(132) {
  animation: card-appears 1000ms 19800ms forwards;
}

.card:nth-child(133) {
  animation: card-appears 1000ms 19950ms forwards;
}

.card:nth-child(134) {
  animation: card-appears 1000ms 20100ms forwards;
}

.card:nth-child(135) {
  animation: card-appears 1000ms 20250ms forwards;
}

.card:nth-child(136) {
  animation: card-appears 1000ms 20400ms forwards;
}

.card:nth-child(137) {
  animation: card-appears 1000ms 20550ms forwards;
}

.card:nth-child(138) {
  animation: card-appears 1000ms 20700ms forwards;
}

.card:nth-child(139) {
  animation: card-appears 1000ms 20850ms forwards;
}

.card:nth-child(140) {
  animation: card-appears 1000ms 21000ms forwards;
}

.card:nth-child(141) {
  animation: card-appears 1000ms 21150ms forwards;
}

.card:nth-child(142) {
  animation: card-appears 1000ms 21300ms forwards;
}

.card:nth-child(143) {
  animation: card-appears 1000ms 21450ms forwards;
}

.card:nth-child(144) {
  animation: card-appears 1000ms 21600ms forwards;
}

.card:nth-child(145) {
  animation: card-appears 1000ms 21750ms forwards;
}

.card:nth-child(146) {
  animation: card-appears 1000ms 21900ms forwards;
}

.card:nth-child(147) {
  animation: card-appears 1000ms 22050ms forwards;
}

.card:nth-child(148) {
  animation: card-appears 1000ms 22200ms forwards;
}

.card:nth-child(149) {
  animation: card-appears 1000ms 22350ms forwards;
}

.card:nth-child(150) {
  animation: card-appears 1000ms 22500ms forwards;
}

.card:nth-child(151) {
  animation: card-appears 1000ms 22650ms forwards;
}

.card:nth-child(152) {
  animation: card-appears 1000ms 22800ms forwards;
}

.card:nth-child(153) {
  animation: card-appears 1000ms 22950ms forwards;
}

.card:nth-child(154) {
  animation: card-appears 1000ms 23100ms forwards;
}

.card:nth-child(155) {
  animation: card-appears 1000ms 23250ms forwards;
}

.card:nth-child(156) {
  animation: card-appears 1000ms 23400ms forwards;
}

.card:nth-child(157) {
  animation: card-appears 1000ms 23550ms forwards;
}

.card:nth-child(158) {
  animation: card-appears 1000ms 23700ms forwards;
}

.card:nth-child(159) {
  animation: card-appears 1000ms 23850ms forwards;
}

.card:nth-child(160) {
  animation: card-appears 1000ms 24000ms forwards;
}

.card:nth-child(161) {
  animation: card-appears 1000ms 24150ms forwards;
}

.card:nth-child(162) {
  animation: card-appears 1000ms 24300ms forwards;
}

.card:nth-child(163) {
  animation: card-appears 1000ms 24450ms forwards;
}

.card:nth-child(164) {
  animation: card-appears 1000ms 24600ms forwards;
}

.card:nth-child(165) {
  animation: card-appears 1000ms 24750ms forwards;
}

.card:nth-child(166) {
  animation: card-appears 1000ms 24900ms forwards;
}

.card:nth-child(167) {
  animation: card-appears 1000ms 25050ms forwards;
}

.card:nth-child(168) {
  animation: card-appears 1000ms 25200ms forwards;
}

.card:nth-child(169) {
  animation: card-appears 1000ms 25350ms forwards;
}

.card:nth-child(170) {
  animation: card-appears 1000ms 25500ms forwards;
}

.card:nth-child(171) {
  animation: card-appears 1000ms 25650ms forwards;
}

.card:nth-child(172) {
  animation: card-appears 1000ms 25800ms forwards;
}

.card:nth-child(173) {
  animation: card-appears 1000ms 25950ms forwards;
}

.card:nth-child(174) {
  animation: card-appears 1000ms 26100ms forwards;
}

.card:nth-child(175) {
  animation: card-appears 1000ms 26250ms forwards;
}

.card:nth-child(176) {
  animation: card-appears 1000ms 26400ms forwards;
}

.card:nth-child(177) {
  animation: card-appears 1000ms 26550ms forwards;
}

.card:nth-child(178) {
  animation: card-appears 1000ms 26700ms forwards;
}

.card:nth-child(179) {
  animation: card-appears 1000ms 26850ms forwards;
}

.card:nth-child(180) {
  animation: card-appears 1000ms 27000ms forwards;
}

.card:nth-child(181) {
  animation: card-appears 1000ms 27150ms forwards;
}

.card:nth-child(182) {
  animation: card-appears 1000ms 27300ms forwards;
}

.card:nth-child(183) {
  animation: card-appears 1000ms 27450ms forwards;
}

.card:nth-child(184) {
  animation: card-appears 1000ms 27600ms forwards;
}

.card:nth-child(185) {
  animation: card-appears 1000ms 27750ms forwards;
}

.card:nth-child(186) {
  animation: card-appears 1000ms 27900ms forwards;
}

.card:nth-child(187) {
  animation: card-appears 1000ms 28050ms forwards;
}

.card:nth-child(188) {
  animation: card-appears 1000ms 28200ms forwards;
}

.card:nth-child(189) {
  animation: card-appears 1000ms 28350ms forwards;
}

.card:nth-child(190) {
  animation: card-appears 1000ms 28500ms forwards;
}

.card:nth-child(191) {
  animation: card-appears 1000ms 28650ms forwards;
}

.card:nth-child(192) {
  animation: card-appears 1000ms 28800ms forwards;
}

.card:nth-child(193) {
  animation: card-appears 1000ms 28950ms forwards;
}

.card:nth-child(194) {
  animation: card-appears 1000ms 29100ms forwards;
}

.card:nth-child(195) {
  animation: card-appears 1000ms 29250ms forwards;
}

.card:nth-child(196) {
  animation: card-appears 1000ms 29400ms forwards;
}

.card:nth-child(197) {
  animation: card-appears 1000ms 29550ms forwards;
}

.card:nth-child(198) {
  animation: card-appears 1000ms 29700ms forwards;
}

.card:nth-child(199) {
  animation: card-appears 1000ms 29850ms forwards;
}

.card:nth-child(200) {
  animation: card-appears 1000ms 30000ms forwards;
}

.card:nth-child(201) {
  animation: card-appears 1000ms 30150ms forwards;
}

.card:nth-child(202) {
  animation: card-appears 1000ms 30300ms forwards;
}

.card:nth-child(203) {
  animation: card-appears 1000ms 30450ms forwards;
}

.card:nth-child(204) {
  animation: card-appears 1000ms 30600ms forwards;
}

.card:nth-child(205) {
  animation: card-appears 1000ms 30750ms forwards;
}

.card:nth-child(206) {
  animation: card-appears 1000ms 30900ms forwards;
}

.card:nth-child(207) {
  animation: card-appears 1000ms 31050ms forwards;
}

.card:nth-child(208) {
  animation: card-appears 1000ms 31200ms forwards;
}

.card:nth-child(209) {
  animation: card-appears 1000ms 31350ms forwards;
}

.card:nth-child(210) {
  animation: card-appears 1000ms 31500ms forwards;
}

.card:nth-child(211) {
  animation: card-appears 1000ms 31650ms forwards;
}

.card:nth-child(212) {
  animation: card-appears 1000ms 31800ms forwards;
}

.card:nth-child(213) {
  animation: card-appears 1000ms 31950ms forwards;
}

.card:nth-child(214) {
  animation: card-appears 1000ms 32100ms forwards;
}

.card:nth-child(215) {
  animation: card-appears 1000ms 32250ms forwards;
}

.card:nth-child(216) {
  animation: card-appears 1000ms 32400ms forwards;
}

.card:nth-child(217) {
  animation: card-appears 1000ms 32550ms forwards;
}

.card:nth-child(218) {
  animation: card-appears 1000ms 32700ms forwards;
}

.card:nth-child(219) {
  animation: card-appears 1000ms 32850ms forwards;
}

.card:nth-child(220) {
  animation: card-appears 1000ms 33000ms forwards;
}

.card:nth-child(221) {
  animation: card-appears 1000ms 33150ms forwards;
}

.card:nth-child(222) {
  animation: card-appears 1000ms 33300ms forwards;
}

.card:nth-child(223) {
  animation: card-appears 1000ms 33450ms forwards;
}

.card:nth-child(224) {
  animation: card-appears 1000ms 33600ms forwards;
}

.card:nth-child(225) {
  animation: card-appears 1000ms 33750ms forwards;
}

.card:nth-child(226) {
  animation: card-appears 1000ms 33900ms forwards;
}

.card:nth-child(227) {
  animation: card-appears 1000ms 34050ms forwards;
}

.card:nth-child(228) {
  animation: card-appears 1000ms 34200ms forwards;
}

.card:nth-child(229) {
  animation: card-appears 1000ms 34350ms forwards;
}

.card:nth-child(230) {
  animation: card-appears 1000ms 34500ms forwards;
}

.card:nth-child(231) {
  animation: card-appears 1000ms 34650ms forwards;
}

.card:nth-child(232) {
  animation: card-appears 1000ms 34800ms forwards;
}

.card:nth-child(233) {
  animation: card-appears 1000ms 34950ms forwards;
}

.card:nth-child(234) {
  animation: card-appears 1000ms 35100ms forwards;
}

.card:nth-child(235) {
  animation: card-appears 1000ms 35250ms forwards;
}

.card:nth-child(236) {
  animation: card-appears 1000ms 35400ms forwards;
}

.card:nth-child(237) {
  animation: card-appears 1000ms 35550ms forwards;
}

.card:nth-child(238) {
  animation: card-appears 1000ms 35700ms forwards;
}

.card:nth-child(239) {
  animation: card-appears 1000ms 35850ms forwards;
}

.card:nth-child(240) {
  animation: card-appears 1000ms 36000ms forwards;
}

.card:nth-child(241) {
  animation: card-appears 1000ms 36150ms forwards;
}

.card:nth-child(242) {
  animation: card-appears 1000ms 36300ms forwards;
}

.card:nth-child(243) {
  animation: card-appears 1000ms 36450ms forwards;
}

.card:nth-child(244) {
  animation: card-appears 1000ms 36600ms forwards;
}

.card:nth-child(245) {
  animation: card-appears 1000ms 36750ms forwards;
}

.card:nth-child(246) {
  animation: card-appears 1000ms 36900ms forwards;
}

.card:nth-child(247) {
  animation: card-appears 1000ms 37050ms forwards;
}

.card:nth-child(248) {
  animation: card-appears 1000ms 37200ms forwards;
}

.card:nth-child(249) {
  animation: card-appears 1000ms 37350ms forwards;
}

@keyframes card-appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.select {
  position: relative;
  height: 100%;
  height: 56px;
  width: 200px;
  border-radius: 5px;
}
.select .placeholder {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: hsl(0deg, 0%, 100%);
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.1);
  cursor: pointer;
}
.select .placeholder .logo-wrapper {
  position: relative;
  height: 16px;
  width: 16px;
  transition: transform 600ms;
}
.select .placeholder .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.select .placeholder .logo-wrapper.reverse {
  transform: rotateX(180deg);
}
.select .placeholder:hover:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(207deg, 26%, 17%);
  opacity: 0.1;
}
.select .options {
  position: absolute;
  left: 0;
  top: 50px;
  width: calc(100% - 48px);
  height: 164px;
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(0deg, 0%, 100%);
  list-style-type: none;
  z-index: 999;
  border-radius: 5px;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.1);
  transform-origin: center top;
  animation: options-appear 600ms;
}
.select .options .option__text {
  position: relative;
}
.select .options .option__text:hover {
  cursor: pointer;
}
.select .options .option {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 18px;
}
.select .options .option:hover:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(207deg, 26%, 17%);
  opacity: 0.2;
  cursor: pointer;
}
.select .options .logo-wrapper {
  position: relative;
  height: 16px;
  width: 16px;
}
.select .options .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.select .hidden {
  display: none;
}

@keyframes options-appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes options-disappear {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
    display: none;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 82px;
  gap: 5.5%;
  row-gap: 75px;
  flex-wrap: wrap;
}
@media all and (max-width: 750px) {
  .container {
    margin: 0 14.7vw;
    flex-direction: column;
  }
}

.loader-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}

.loader {
  position: relative;
  height: 200px;
  width: 200px;
}
.loader__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 20px solid transparent;
  border-right: 20px solid hsl(207deg, 26%, 17%);
  transform: rotateZ(-45deg);
  animation: spinning 1.2s infinite;
}

.loader__bar:nth-child(1) {
  animation-delay: 80ms;
}

.loader__bar:nth-child(2) {
  animation-delay: 160ms;
}

.loader__bar:nth-child(3) {
  animation-delay: 240ms;
}

@keyframes spinning {
  0% {
    transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(315deg);
  }
}
.Country {
  font-size: 13px;
}
.Country .container {
  height: auto;
  justify-content: space-between;
}
@media all and (max-width: 750px) {
  .Country .container {
    flex-direction: column;
    height: auto;
    margin: 0 32px;
    gap: 12vw;
  }
}
.Country .container .flag-wrapper {
  position: relative;
  height: 27.8vw;
  width: 43.75%;
}
@media all and (max-width: 750px) {
  .Country .container .flag-wrapper {
    width: 100%;
    height: 60.7vw;
  }
}
.Country .container .flag-wrapper .flag {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}
.Country .container .information {
  width: 45%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 36px;
}
@media all and (max-width: 750px) {
  .Country .container .information {
    width: 100%;
    padding-top: 0;
  }
}
.Country .container .information__title__main {
  margin: 0;
  font-size: 24px;
}
.Country .container .information__metadata {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  font-size: 13px;
  row-gap: 13px;
  padding: 0;
}
@media all and (max-width: 750px) {
  .Country .container .information__metadata {
    display: flex;
    flex-direction: column;
  }
}
.Country .container .information__metadata__element {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 6px;
}
.Country .container .information__metadata__element__title {
  margin: 0;
}
.Country .container .information__metadata__element__text {
  margin: 0;
}
.Country .container .information__metadata__element:nth-child(1) {
  grid-area: 1/1/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(2) {
  grid-area: 2/1/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(3) {
  grid-area: 3/1/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(4) {
  grid-area: 4/1/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(5) {
  grid-area: 5/1/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(6) {
  grid-area: 1/2/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(7) {
  grid-area: 2/2/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(8) {
  grid-area: 3/2/span 1/span 1;
}

.hidden {
  display: none;
}

.information__tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
}
@media all and (max-width: 750px) {
  .information__tags {
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
  }
}
.information__tags__title {
  font-size: 13px;
  margin: 0;
  min-width: fit-content;
  align-self: flex-start;
}
.information__tags .tags {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
  flex-wrap: wrap;
}
@media all and (max-width: 750px) {
  .information__tags .tags {
    width: 100%;
    padding: 0;
    flex-direction: row;
  }
}
.information__tags .tags__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 96px;
  box-shadow: 0px 0px 8px hsla(0deg, 0%, 0%, 0.2);
  font-size: 13px;
  border-radius: 5px;
}

.btn--back {
  position: relative;
  box-shadow: 0px 0px 8px hsla(0deg, 0%, 0%, 0.2);
  font-size: 13px;
  border-radius: 5px;
  width: 136px;
  height: 40px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  justify-content: center;
  color: hsl(200deg, 15%, 8%);
  text-decoration: none;
}
.btn--back .logo-wrapper {
  position: relative;
  height: 23px;
  width: 23px;
}
.btn--back .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.btn--back:hover:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(207deg, 26%, 17%);
  opacity: 0.1;
}

.Country .header {
  padding-top: 35px;
  margin-bottom: 80px;
}
@media all and (max-width: 750px) {
  .Country .header {
    padding-top: 25px;
    margin-bottom: 16.7vw;
  }
}

.page {
  padding-top: 45px;
  padding-bottom: 45px;
  height: 100%;
  min-height: calc(100vh - 90px - 80px);
}

.dark {
  background-color: hsl(207deg, 26%, 17%);
  color: hsl(0deg, 0%, 98%);
  transition: all 800ms;
}
.dark .navbar {
  background-color: hsl(209deg, 23%, 22%);
}
.dark .card {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 98%);
}
.dark .select {
  background-color: hsl(209deg, 23%, 22%);
}
.dark .select .placeholder {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 98%);
}
.dark .select .options {
  background-color: hsl(209deg, 23%, 22%);
}
.dark .header__search__input {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 98%);
}
.dark .header__search__input::placeholder {
  color: hsl(0deg, 0%, 98%);
}
.dark .loader-wrapper {
  background-color: hsl(207deg, 26%, 17%);
}
.dark .loader__bar {
  border-right: hsl(0deg, 0%, 98%) 20px solid;
}
.dark .logo-wrapper .logo {
  fill: hsl(0deg, 0%, 98%);
}
.dark .btn--back {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 98%);
}
.dark .flag {
  background-color: hsl(207deg, 26%, 17%);
}

.light {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(200deg, 15%, 8%);
  transition: all 800ms;
}
.light .navbar {
  background-color: hsl(0deg, 0%, 100%);
}
.light .card {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(200deg, 15%, 8%);
}
.light .select {
  background-color: hsl(0deg, 0%, 100%);
}
.light .select .placeholder {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(200deg, 15%, 8%);
}
.light .select .options {
  background-color: hsl(0deg, 0%, 100%);
}
.light .header__search__input {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(200deg, 15%, 8%);
}
.light .header__search__input::placeholder {
  color: hsl(200deg, 15%, 8%);
}
.light .loader-wrapper {
  background-color: hsl(0deg, 0%, 98%);
}
.light .loader__bar {
  border-right: hsl(200deg, 15%, 8%) 20px solid;
}
.light .logo-wrapper .logo {
  fill: hsl(200deg, 15%, 8%);
}
.light .btn--back {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(200deg, 15%, 8%);
}
.light .flag {
  background-color: hsl(0deg, 0%, 98%);
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: initial;
  height: 100%;
}

.not-found {
  width: 100%;
  text-align: center;
}

.country-link {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
