body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0deg, 0%, 98%);
}

.navbar {
  padding: 0 82px;
  height: 80px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.1);
  background-color: hsl(0deg, 0%, 100%);
}
.navbar__title__main {
  font-size: 18px;
  font-weight: 800;
}
.navbar__switch {
  font-weight: 600;
  display: inline-flex;
  gap: 10px;
}
.navbar__switch:hover {
  cursor: pointer;
}
.navbar__switch .logo-wrapper {
  position: relative;
  height: 18px;
  width: 18px;
}
.navbar__switch .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.Country .header {
  padding-top: 35px;
  margin-bottom: 80px;
}

.header {
  padding: 0 82px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  height: 56px;
}
.header__search {
  position: relative;
}
.header__search__input {
  height: 100%;
  width: 450px;
  padding-left: 74px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.1);
}
.header__search .logo-wrapper {
  position: absolute;
  height: 22px;
  width: 22px;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}
.header__search .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 82px;
  gap: 70px;
  flex-wrap: wrap;
}

.card {
  width: 266px;
  height: 380px;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 100%);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.1);
}
.card:nth-last-child(1) {
  margin-right: auto;
}
.card__picture {
  height: 181px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.card__picture .picture {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.card__title {
  font-size: 16px;
  font-weight: 600;
}
.card__info {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.card__info__element {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card__info__element__title {
  margin: 0;
}
.card__info__element__text {
  margin: 0;
}

.select {
  position: relative;
  height: 100%;
  width: 200px;
}
.select .placeholder {
  border-radius: 5px;
  width: calc(100% - 48px);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.1);
}
.select .placeholder .logo-wrapper {
  position: relative;
  height: 16px;
  width: 16px;
}
.select .placeholder .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.select .options {
  position: absolute;
  left: 0;
  top: 50px;
  width: calc(100% - 48px);
  height: 164px;
  padding: 18px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(0deg, 0%, 100%);
  list-style-type: none;
  z-index: 999;
  border-radius: 5px;
  box-shadow: 3px 3px 8px hsla(0deg, 0%, 0%, 0.1);
}
.select .options .option__text:hover {
  cursor: pointer;
}
.select .options .option {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 18px;
}
.select .options .logo-wrapper {
  position: relative;
  height: 16px;
  width: 16px;
}
.select .options .logo-wrapper .logo {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.select .hidden {
  display: none;
}

.Country {
  font-size: 13px;
}
.Country .container {
  height: 450px;
  justify-content: space-between;
}
.Country .container .flag-wrapper {
  position: relative;
  height: 100%;
  width: 42.3vw;
  background-color: hsl(0deg, 0%, 98%);
  border-radius: 15px;
}
.Country .container .flag-wrapper .flag {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Country .container .information {
  width: 45%;
  padding: 70px 0;
}
.Country .container .information__title__main {
  margin: 0;
  font-size: 24px;
  margin-bottom: 39px;
}
.Country .container .information__metadata {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  font-size: 13px;
  margin-bottom: 80px;
  row-gap: 16px;
}
.Country .container .information__metadata__element {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 6px;
}
.Country .container .information__metadata__element__title {
  margin: 0;
}
.Country .container .information__metadata__element__text {
  margin: 0;
}
.Country .container .information__metadata__element:nth-child(1) {
  grid-area: 1/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(2) {
  grid-area: 2/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(3) {
  grid-area: 3/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(4) {
  grid-area: 4/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(5) {
  grid-area: 5/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(6) {
  grid-area: 1/2/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(7) {
  grid-area: 2/2/span 1/span 1;
}
.Country .container .information__metadata__element:nth-child(8) {
  grid-area: 3/2/span 1/span 1;
}

.information__tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.information__tags__title {
  font-size: 13px;
  margin: 0;
}
.information__tags .tags {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
}
.information__tags .tags__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 96px;
  box-shadow: 0px 0px 8px hsla(0deg, 0%, 0%, 0.2);
  font-size: 13px;
  border-radius: 5px;
}

.btn--back {
  box-shadow: 0px 0px 8px hsla(0deg, 0%, 0%, 0.2);
  font-size: 13px;
  border-radius: 5px;
  width: 136px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
