.navbar {
    padding: 0 82px;
    height: 80px;
    // margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 8px hsl(0, 0%, 0%, 0.2);
    background-color: $element-color-light-mode;
    @include mobile-only{
        height: 126px;
        padding: 0 32px;
    }

    &__title {
        &__main {
            font-size: 22px;
            font-weight: 800;
        }
    }

    &__switch {
        font-weight: 600;
        display: inline-flex;
        gap: 10px;

        &:hover {
            cursor: pointer;
        }

        .logo-wrapper {
            position: relative;
            height: 18px;
            width: 18px;

            .logo {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }
        }


    }
}